<?xml version='1.0' encoding='utf-8'?>
<widget id="br.com.fdxtecnologia.boatroca" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>BoaTroca</name>
    <description>
        BoaTroca App.
    </description>
    <author email="diogo.matos@fdxtecnologia.com.br" href="http://www.fdxtecnologia.com.boatroca">
        FDX Develop Team
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
